@font-face {
  font-family: 'Reso Regular 3';
  font-style: normal;
  font-weight: normal;
  src: local('Reso Regular 3'), url('./Reso Bold.woff') format('woff');
}

@font-face {
  font-family: 'Reso Regular 2';
  font-style: normal;
  font-weight: normal;
  src: local('Reso Regular 2'), url('./Reso Light.woff') format('woff');
}

@font-face {
  font-family: 'Reso Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Reso Regular'), url('./Reso Regular.woff') format('woff');
}

@font-face {
  font-family: 'Reso Regular 5';
  font-style: normal;
  font-weight: normal;
  src: local('Reso Regular 5'), url('./Reso SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Reso Regular 4';
  font-style: normal;
  font-weight: normal;
  src: local('Reso Regular 4'), url('./Reso Thin.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.eot');
  src: url('./Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-Regular.woff2') format('woff2'),
  url('./Roboto-Regular.woff') format('woff'),
  url('./Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('./TrebuchetMS.eot');
  src: url('./TrebuchetMS.eot?#iefix') format('embedded-opentype'),
  url('./TrebuchetMS.woff2') format('woff2'),
  url('./TrebuchetMS.woff') format('woff'),
  url('./TrebuchetMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('./TrebuchetMS-Bold.eot');
  src: url('./TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
  url('./TrebuchetMS-Bold.woff2') format('woff2'),
  url('./TrebuchetMS-Bold.woff') format('woff'),
  url('./TrebuchetMS-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


