// Colors HEX
$white: #ffffff;
$black: #000000;
$lightGreen: #0EE9C4;
$darkBlue: #162454;
$greenColor:#0EE9C4;
$activeColorBtn:#2fc7ae;
$textColor:#162454;
$lightBlue:#737C98;
$bgCard :#E8EAEE;
$bgPoints:#F3F9FC;
$robotoColor:#69728E;
// Fonts
$main-font-family: 'Roboto', sans-serif;
$common-fonts: 'Trebuchet MS', sans-serif;
