.not-found {
  padding: 50px 0 100px;

  &__wrapper {
    position: relative;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  &__sentence {
    font-size: 36px;
    line-height: 1.5;
    color: $textColor;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      font-size: 26px;
    }
  }

  &__error {
    font-size: 270px;
    line-height: 1.1;
    color: $greenColor;
    @media screen and (max-width: 768px) {
      font-size: 170px;
    }
  }

  &__btn {
    border-radius: 90px;
    max-width: 320px;
    width: 100%;
    background: $greenColor;
    outline: none;
    border: transparent;
    display: flex;
    justify-content: center;
    margin: 20px auto auto;

    &:active {
      background: $activeColorBtn;
    }

    span {
      padding: 15px 0 14px;
      letter-spacing: 0.02em;
      font-size: 20px;
      color: $white;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }
}
